<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>
<% provide(:confirm_message, 'Confirm Password') %>
<% provide(:submit_message, 'Save changes') %>


<div class="row">
  <div class="span6 offset3">
    <%= render 'form' %>
    <%= gravatar_for @user %>
    <%= link_to "change", "http://gravatar.com/emails", target: "_blank" %> 
    <!--<a href="http://gravatar.com/emails">change</a>-->
  </div>
</div>
